body {
  margin-top: 20vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: normal;
  background: linear-gradient(0deg, rgb(112, 53, 205) 0%, rgb(44, 120, 234) 99%);
}
.screen {
  height: 120px;
}


.result{
  font-family: 'Open Sans', sans-serif;
}
.btn{
  float: left;
  height: 80px;
  font-size: 1.2em;
  border: 1px solid;
  width: 5.4vw;
  margin-left: -0.6vw;
}
.btn-special {
  width: 10.7vw;
}

body {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media (max-width: 600px){
  body {
      margin-top: 2vh;
  }
  .btn {
      width:21vw;
      margin-left: -2vw;
  }
  .btn-special {
      width: 43.5vw;
  }
}

.form-design {
  padding: 12px;
}
